body{
    overflow-y: hidden !important;
}
#header{
    margin: 20px 0;
    border: none;
}
.zimagery .zimagery-overlay{
    height: 92vh;
    background: rgba(0,0,0,0.4);
}
.search-bar-icon .mr5{
    text-align: center;
}
html, body, #map {
    height:100%;
    margin:0px;
    padding: 0px
}
.zimagery{
    background-image: url(../images/earth-map.jpg);
    background-size: cover;
}
.recent_search{
    padding-left: 10px;
    color: #0072bc;
    text-decoration: underline;
}
.wrapper .recent_search_wrap{
    margin: 20px 0;
    text-align: center;
}
.wrapper .recent_search_wrap table{
    margin-left: 170px;
}
.wrapper .recent_search_wrap table td{
    padding: 5px;
}
#footer .wrapper{
    text-align: center;
}

#footer .first-footer-column .footer-links--big, #footer .last-footer-column .footer-links--big{
    padding: 0;
}

#footer .first-footer-column, #footer .last-footer-column{
    padding: 0;
}
